<h1><a href="<%= post_url(@post) %>"><%= @post.title %></a>
     by <%= @author.username %>
</h1>

<p>Content:</p>
<%= @post.content %>

<h3>Subs</h3>
<ul>
    <% @subs.each do |sub| %>
        <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
    <% end %>
</ul>

<h2>Comments</h2>

<a href="<%= new_post_comment_url(@post)%>">Comment on this post!</a>

<%=flash[:errors] if flash[:errors]%>
<form action="<%= post_comments_url(@post) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

    <label>Body
        <textarea name="comment[content]"></textarea>
    </label>

    <br>
    <input type="submit" value="Submit">
</form>

<ul>
    <% @comments.each do |comment| %>
        <li>
            <a href="<%= comment_url(comment) %>"><%= comment.content %></a>
        </li>
    <% end%>
</ul>
